@model IEnumerable<KiemTra_QuachNguyenPhongVuong.Models.SinhVien>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SinhVien</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>MaSV</th>
        <th>HoTen</th>
        <th>GioiTinh</th>
        <th>NgaySinh</th>
        <th>Hinh</th>
        <th>MaNganh</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.MaSV)</td>
            <td>@Html.DisplayFor(modelItem => item.HoTen)</td>
            <td>@Html.DisplayFor(modelItem => item.GioiTinh)</td>
            <td>@Html.DisplayFor(modelItem => item.NgaySinh)</td>
            <td><img src="@item.Hinh" width="200px" alt="hinh thumbnail" /></td>

            <td>@Html.DisplayFor(modelItem => item.MaNganh)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MaSV }) |
                @Html.ActionLink("Detail", "Detail", new { id = item.MaSV }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MaSV })
            </td>
        </tr>
    }
</table>
